

.boton{
    margin: 0px;
    padding: 0;
    width: 32.5%;
    font-size: 30px;
}
#botones{
    position: absolute;
}
#static-canvas{
    z-index: 1;
    position: absolute;
}

#dinamic-canvas{
    z-index: 2;
    position: absolute;
}
#fondo{
    position: absolute;
}

#menu{
    z-index: 3;
    visibility: visible;
    display: block;
    text-align: center;
    top: 200px;
    height: fit-content;
    position: absolute;
}
