body{
    margin: 0;
    padding: 0;
}
table {
    border: 1px solid #000000;
    border-collapse: collapse;
    width: auto;
    height: auto;
  }
.box {
    border-style: solid;
    border-width: 1px;
    border-color: #618b25;
    height: 8px;
    width: 8px;
}
.scoreboard{
    font-size: 300%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;

}
button{
    background-color: #4CAF50;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    font-size: 50%;
}
#HUD{
    border-radius: 4px;
    font-size: 250%;
    background-color: #3464be;
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 250px;
    margin-top: -400px;
    visibility: hidden;
}

#container{
    width: auto;
    height: auto;
}

[state="snake"]{
    background-color:  #1c0118;
}

[state="apple"]{
    background-color:  #d62323;
    
}

[state="board"]{
    background-color: #9ac503;
}