body{
    margin: 0;
    padding: 0;
}

.scoreboard{
    font-size: 300%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;

}
button{
    background-color: #4CAF50;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    font-size: 50%;
}


#HUD{
    border-radius: 4px;
    font-size: 250%;
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 250px;
    margin-top: -400px;
    visibility: hidden;
}

#container{
    width: auto;
    height: auto;
}

