.startMenu{
    margin-top: -300px;
    background-color: rgba(76, 175, 80, 0.9);
    height: 100px;



}
#avisos{
    font-size: x-large;
}
.oversize {
    width: 100%;
    height: auto;
    visibility: hidden;
}

.donwsize{
    width: 10%;
    height: auto;

}


.casilla {
    border-style: solid;
    border-width: medium;
    height: 150px;
    width: 150px;

}
@media only screen and (max-width : 480px) {
/* only size 'xs' and below */
.juego{
    width: 300px;
    height: 100px;
}
}
#ui-turno{
    font-size: xx-large;
}
.casillaIzq{
    border-left-width: 0;
}
.casillaDer{
    border-right-width: 0;
}
.casillaUp{
    border-top-width: 0;
}
.casillaDown{
    border-bottom-width: 0;
}
.tablero {
    border-style: solid;
    border-width: 20px;
    border-color: #9fcdff;
}